<div ng-controller="ContactCtrl">
	<div class="row pull-right">
		<form class="form-inline" ng-submit="addContact()" name="addForm" ng-model="addForm">
			<div class="form-group">
				<input type="text" class="form-control" id="username" ng-model="contact.username" placeholder="Username" required>
			</div>
			<button type="submit" class="btn btn-default">+</button>
		</form>
	</div>
	<div class="row">
		<table class="table">
			<tbody>
				<tr ng-repeat="contact in contacts">
					<th scope="row">{{contact.username}}</th>
					<td>
						<button type="button" class="btn btn-primary" ng-click="delete(contact)">-</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>